<!-- Map -->

<div class="span12 offset1">
  <ul>
    <li>Start: <a href="/stations/<%= @start_id %>"><strong><%= @start_name.to_s %></strong></a></li>
    <li>End:   <a href="/stations/<%= @end_id   %>"><strong><%= @end_name.to_s   %></strong></a></li>
  </ul>

  <div id="map"></div>
  <script type="text/javascript" charset="utf-8">
    var map = L.map('map').setView(<%= @mid %>, 13);
    L.tileLayer('http://tile.stamen.com/terrain/{z}/{x}/{y}.png', {attribution: 'Stamen Terrain'}, {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
    }).addTo(map);

    map.touchZoom.disable();
    map.scrollWheelZoom.disable();

    L.marker(<%= @start %>).addTo(map).bindPopup('<b>Start</b>: <br> <a href="/stations/<%= @start_id %>"><%= @start_name.to_s %></a>');
    L.marker(<%= @end   %>).addTo(map).bindPopup('<b>End</b>:   <br> <a href="/stations/<%= @end_id   %>"><%= @end_name.to_s %></a>');

    L.polygon([
          <%= @start %>, 
          <%= @end %>
              ]).addTo(map);
  </script>
  <br>
</div>