<!-- List Stations -->

<% stations = @stations.sort{|st1, st2| st1["stationName"]<=>st2["stationName"]} %>
<% halfway  = @num_st / 2 %>
<% stations1 = stations[0...halfway] %>
<% stations2 = stations[halfway..-1] %>

<h3>New York Citibike Stations</h3>
<h4>Number of stations: <%= @num_st %> </h4>

<div class="row-fluid">

  <div class="span3 ">
    <% stations1.each do |station| %>
      <div class="station">
        <strong><a href="/stations/<%= station[:id] %>"><%= station[:stationName] %></a></strong>
        <span class="admin">
          | <a href="/stations/edit/<%=   station[:id] %>">  Edit</a>
          | <a href="/stations/delete/<%= station[:id] %>">Delete</a>
        </span>
      </div>
    <% end %>
  </div>

  <div class="span3 ">
    <% stations2.each do |station| %>
      <div class="station">
        <strong><a href="/stations/<%= station[:id] %>"><%= station[:stationName] %></a></strong>
        <span class="admin">
          | <a href="/stations/edit/<%=   station[:id] %>">  Edit</a>
          | <a href="/stations/delete/<%= station[:id] %>">Delete</a>
        </span>
      </div>
    <% end %>
  </div>

  <div class="span6 fix-map">
    <div id="map"></div>
    <script type="text/javascript" charset="utf-8">
      var map = L.map('map').setView([40.73, -74.00], 13);
      L.tileLayer('http://tile.stamen.com/terrain/{z}/{x}/{y}.png', {attribution: 'Stamen Terrain'}, {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
      }).addTo(map);

      map.touchZoom.disable();
      map.scrollWheelZoom.disable();

      <% @stations.each do |station| %>
        L.marker(<%= [station["latitude"], station["longitude"]] %>).addTo(map).bindPopup(
          '<strong><a href="/stations/<%= station[:id] %>"><%= station[:stationName] %></a></strong> <br> <a href="/stations/edit/<%= station[:id] %>">  Edit</a> | <a href="/stations/delete/<%= station[:id] %>">Delete</a> '
        );
      <% end %>

    </script>
  </div>

</div>